<html ng-app="myApp">
<head>
  <link rel="stylesheet" href="../bower_components/jqueryui/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="../common/app.css" >
<style>
ul {
  margin: 30px auto;
  width: 500px;
  height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 0 20px;
}
li {
  list-style: none;
  margin: 20px 0;
}
</style>
</head>
<body ng-init="$limit = 10">
  Select a date: <date-picker ng-model="mydate"></date-picker>

  <datasource name="article" url="article{{mydate.split('/')[1]}}.txt" on-load="$limit = 10"></datasource>

  <div ng-show="article.error && !article.loading" class="alert alert-danger">Error loading article for {{mydate}}</div>

  <loading ng-show="article.loading"></loading>

  <ul ng-if="!article.loading && !article.error && article.results" on-scroll-end="$limit = $limit + 10">
    <li ng-repeat="paragraph in article.results.split('\n\n') | limitTo:$limit">{{paragraph}}</li>
  </ul>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/jqueryui/jquery-ui.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../common/app.js"></script>
  <script src="../datasource/datasource.js"></script>
  <script src="../loading/loading.js"></script>
  <script src="../date-picker/date-picker.js"></script>
  <script src="on-scroll-end.js"></script>
</body>
</html>